In [3]:
import pandas as pd

from src.constants import csv_file
from src.utils import split_non_iid

df = pd.read_csv(csv_file)
print("Total number of samples:", len(df))
for cat in [0, 1, 2, 3, 4]:
    cat_df = df[df["level"] == cat]
    print(cat, len(cat_df))

Total number of samples: 3662
0 1805
1 370
2 999
3 193
4 295

In [27]:
df = pd.read_csv(csv_file)
xd = df.sample(5)
print(xd.head())
xd2 = df.sample(5)
print("________________________")
print(xd2.head())
new_df = pd.concat([xd, xd2]).reset_index(drop=True)
new_df

             image  level
2105  93d6d20a5ee3      0
1800  7efc91af4ae6      4
2385  a721efb1e049      2
2942  cc1eebed9276      2
2374  a646c084928c      0
________________________
             image  level
1421  63b4d030b016      4
2508  ae1344610ebe      2
1837  8185ce1cdcef      0
2532  af3b0115aad1      3
573   289a47dcbb82      0

          image  level
0  93d6d20a5ee3      0
1  7efc91af4ae6      4
2  a721efb1e049      2
3  cc1eebed9276      2
4  a646c084928c      0
5  63b4d030b016      4
6  ae1344610ebe      2
7  8185ce1cdcef      0
8  af3b0115aad1      3
9  289a47dcbb82      0

In [19]:
import random

ls = [1, 2, 3, 4, 5]
random.shuffle(ls)
ls

[4, 2, 5, 3, 1]

In [7]:
df = pd.read_csv(csv_file)

from src.utils import split_non_iid_and_iid

train_df = split_non_iid_and_iid(df)
first = train_df[0]
print(first.shape)
print(first.tail())

(366, 2)
            image  level
361  ab1c20a94f3f      4
362  576e189d23d4      4
363  d803598dabda      4
364  499c8df39222      4
365  07122e268a1d      4

In [3]:
import torch

ten = torch.tensor([0, 1, 2, 3, 0, 4, 1, 0]).int()
aux = ten > 0
aux

tensor([False,  True,  True,  True, False,  True,  True, False])

In [1]:
import torch

gpu_memory = torch.cuda.memory_allocated()
print(gpu_memory / (1024**2), "MB")

0.0 MB